# Python & Environments
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# Notebooks & IDEs
.ipynb_checkpoints/
.jupyter_ystore.db
.vscode/
*.code-workspace
.idea/

# Next.js & Frontend
node_modules/
.next/
out/
build/
dist/

# Airflow & Spark
pipelines/airflow/logs/
spark-warehouse/
*.log
tmp/
import_errors.json

# Data & Lakehouse Storage
data/
minio-data/
postgres-data/
vault-data/

# OS Specific
.DS_Store

# Secrets
docs/CREDENTIALS.md