# File: infra/airflow/requirements.txt
apache-airflow==2.10.2
apache-airflow-providers-postgres
apache-airflow-providers-apache-spark~=5.0.0
apache-airflow-providers-trino
apache-airflow-providers-http
apache-airflow-providers-common-sql
apache-airflow-providers-celery
great-expectations
openlineage-airflow
geopy
astronomer-cosmos==1.11.0
airflow-provider-great-expectations>=1.0.0
dbt-core~=1.8.0
dbt-trino~=1.8.0
dbt-postgres~=1.8.0
protobuf
hvac==2.1.0
requests>=2.32.3
httpx
pandas
fuzzywuzzy
python-Levenshtein
tenacity
# pydantic>=2.5.0 (Avoid conflict with Airflow/Cosmos pins)
minio>=7.1.0
prometheus-client>=0.19.0
redis
folium
trino
asyncpg
psycopg2-binary
